<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/libs/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/libs/bootstraptable/bootstrap-table.min.css">
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src='/libs/bootstrap/dist/js/bootstrap.min.js'></script>
<script src="/libs/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/libs/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/libs/bootstraptable/bootstrap-table.min.js"></script>
<script src="/libs/bootstraptable/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/libs/highcharts/highcharts.js"></script>
<script src="/libs/highcharts/modules/exporting.js"></script>
