<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title%></title>
  <%- include('../../includes/head.html') %>
  <script src="/libs/bootstrap-validator/dist/validator.min.js"></script>
  <style media="screen">
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    form {
      padding-top: 50px;
    }
  </style>

</head>
<body>
  <!-- <p>登录页面</p> -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <a class="navbar-brand" href="/register">注册</a>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container">

    <div class="row">
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="sidebar-module">
          <h4>Archives</h4>
          <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
          </ol>
        </div>
        <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div><!-- /.blog-sidebar -->

      <div class="col-sm-4 blog-main">

        <form class="form-horizontal" role='form' data-toggle='validator' method='post' action='/login'>
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='username' id="username" placeholder="请输入账号">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name='password' id="password" placeholder="请输入密码">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="radio-line">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 个人
                </label>
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked> 企业
                </label>
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked> 政府人员
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <h3 class="text-danger text-center"><%- info %></h3>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">登录</button>
            </div>
          </div>
        </form>
      </div><!-- /.blog-main -->

    </div><!-- /.row -->

  </div><!-- /.container -->
  <script type="text/javascript">
</body>
</html>
